h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: aqua;
}
p::selection{
    color: white;
    background-color: aqua;
}
/* #fruit li::before{
    content: "✔️";
} */
#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}
#fruit li::marker{
    content: "✓";
    color: aqua;
}